<div align='center'>

<div class="card w-50 text-center">
  <div class="card-body">
    <h3 class="card-title"><%= link_to job.title, job_path(job) %></h3>
    <h3><span class="badge bg-light text-dark"><%= job.salary %> <%= job.currency %> </span>
    <span class="badge  bg-light text-dark"><%= job.format %> </span>
    <span class="badge  bg-light text-dark"><%= job.location %></span>
    <p><%= job.created_at %></p><p>

 </div>
</div>
